body {
  background: slategray;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 350px;
}
.form-group {
  display: flex;
}
input {
  width: 95%;
}
button {
  background: darkslategray;
  color: #fff;
}
.micro-blog {
  border: 1px solid black;
  padding: 1em;
  margin: 1em auto;
}